body {
    line-height: 1.4;
    color: black;
    background: #F5F5F7;
}

.gallery-section{
    padding: 2.1% 0 0;
}

.gallery-title{
    color: #03557E;
    margin-bottom: 15px;
}

.gallery-description {
    width: 50%;
    font-size: 1.1rem;
    text-align: justify;
    margin-bottom: 60px;
    font-weight: 300;
    color: black;
    font-family: 'HelveticaNeue-Light';
    letter-spacing: 0.5px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.gallery-item{
    margin-bottom: 44px;
}

.gallery-image{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 17px;
}

.image-caption {
    font-size: 1.3rem;
    color: black;
    font-family: "HelveticaNeue-Light", sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
}

@media (max-width: 1024px) {
    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 7px;
    }

    .gallery-item{
        margin-bottom: 0;
    }

    .gallery-description{
        width: 100%;
        font-size: 0.8rem;
        margin-bottom: 25px;
    }

    .image-caption{
        font-size: 0.8rem;
        margin-bottom: 10px;
    }

    .gallery-image{
        margin-bottom: 0px;
    }
}
