.hero-text{
    left: unset !important;
    right: 8.3% !important;
}

.hero_section_layer {
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.73) 8.5%, rgba(0, 0, 0, 0.545) 32.5%, rgba(255, 255, 255, 0) 45%);
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .hero-text {
        left: unset;
        right: 8.3%;
    }
}

@media (max-width: 768px) {
    .hero-text {
        left: 0;
        right: 8.3%;
    }

    .hero_text_layer {
        background: linear-gradient(-90deg, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.6) 50%, rgba(255, 255, 255, 0) 70%);
    }
}

@media (max-width: 480px) {
    .hero-text {
        left: 0;
        right: 8.3%;
    }

    .hero_section_layer {
        background: linear-gradient(-90deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.7) 20%, rgba(255, 255, 255, 0) 85%);
    }
}


.tabs-nav {
    text-align: right;
    margin: 20px 0;
    margin-left: 0;
    margin-right: 8.3%;
}

.tabs-nav .nav-button {
    margin-right: 0;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .tabs-nav {
        margin-left: 0;
        margin-right: 8.3%
    }

    .tabs-nav .nav-button {
        margin-right: 0;
        margin-left: 10px;
    }
}
